/* Write your code here. */

* {
  font-family: "Roboto";
}

.bg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #0f172a;
  text-align: center;
}

.notifications-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notification {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 300px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.primary {
  background-color: #0b69ff;
}
.success {
  background-color: #2dca73;
}

.warning {
  background-color: #ffb800;
}

.danger {
  background-color: #ff0b37;
}

.image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.description {
  color: #ffffff;
}
